<div id="about" class="pt-50 px-10 text-center pb-30 flex items-center flex-col">
    <h1 class="pb-2 font-semibold text-xl text-[#5a5ab1]">About Us</h1>
    <h2 class="lg:text-5xl font-semibold text-2xl sm:text-4xl">Building Experiences That People Remember</h2>
    <p class="lg:text-xl text-xl pt-5 sm:text-xl text-white/60 max-w-255 text-pretty"> With years of experience crafting modern web solutions, we've mastered the art 
        of blending design and functionality. Our passion lies in creating digital experiences that leave a lasting impression.<p/>
</div>

<section class="py-20 px-6 lg:px-40 text-center bg-gradient-to-r from-[#0b0c2a] to-[#2b2668] text-white border-b border-t border-[#464272]">
<div class="grid grid-cols-2 md:grid-cols-4 gap-8 justify-center mb-16">
    <div>
      <p class="text-4xl font-bold text-[#5a5ab1]">10+</p>
      <p class="text-xs uppercase tracking-widest text-white/60">Years Experience</p>
    </div>
    <div>
      <p class="text-4xl font-bold text-[#5a5ab1]">100+</p>
      <p class="text-xs uppercase tracking-widest text-white/60">Projects Delivered</p>
    </div>
    <div>
      <p class="text-4xl font-bold text-[#5a5ab1]">50+</p>
      <p class="text-xs uppercase tracking-widest text-white/60">Happy Clients</p>
    </div>
    <div>
      <p class="text-4xl font-bold text-[#5a5ab1]">5</p>
      <p class="text-xs uppercase tracking-widest text-white/60">Awards Won</p>
    </div>
  </div>
</section>
  
    