---
import GitHub from "./icons/GitHub.astro"
---

<footer class="flex items-center justify-between p-10">
    <p class="text-[#a6a6c1]">© 2025 Alex Aperador Salcedo, Todos los derechos reservados.</p>
    <div>
    <GitHub/>
    </div>
</footer>