---
import GitHub from "./icons/GitHub.astro"
---

<footer class="flex items-center justify-between p-10">
    <p class="text-[#a6a6c1]">© 2024 Your Company, Inc. All rights reserved.</p>
    <div>
    <GitHub/>
    </div>
</footer>