<script>
    declare global {
        interface Window {
            switchToRegister: () => void;
            switchToLogin: () => void;
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        window.switchToRegister = function () {
            const login = document.getElementById("login");
            const register = document.getElementById("register");
    
            if (!login || !register) return;
    
            login.classList.remove("opacity-100", "scale-100");
            login.classList.add("opacity-0", "scale-95");
    
            setTimeout(() => {
                login.classList.add("hidden");
                register.classList.remove("hidden");
    
                
                setTimeout(() => {
                    register.classList.add("opacity-100", "scale-100");
                    register.classList.remove("opacity-0", "scale-95");
                }, 10);
            }, 300);
        };
    
        window.switchToLogin = function () {
            const login = document.getElementById("login");
            const register = document.getElementById("register");
    
            if (!login || !register) return;
    
            register.classList.remove("opacity-100", "scale-100");
            register.classList.add("opacity-0", "scale-95");
    
            setTimeout(() => {
                register.classList.add("hidden");
                login.classList.remove("hidden");
    
                setTimeout(() => {
                    login.classList.add("opacity-100", "scale-100");
                    login.classList.remove("opacity-0", "scale-95");
                }, 10);
            }, 300);
        };
    });
    </script>
    

<div
    class="absolute top-0 left-0 w-full h-full"
>
</div>

<div class="grid grid-cols-5 grid-rows-5 gap-4 relative h-dvh">
    <div class="col-span-3 row-span-5 m-5 rounded-3xl z-10">
        <div
            class="flex flex-col items-center justify-center h-1/1 backdrop-brightness-55 rounded-3xl"
        >
            <h1
                class="text-3xl font-bold tracking-wider md:text-5xl xl:text-6xl sm:text-4xl s:flex"
            >
                WELCOME BACK
            </h1>
            <p class="font-light text-xl text-purple-400/60 pb-6">
                Registrate si eres nuevo
            </p>
            <button
                class="bg-gradient-to-br from-purple-300/50 to-purple-500/50 text-shadow-xs text-shadow-purple-500 inset-shadow-sm inset-shadow-purple-500/70 px-5 py-2 rounded-xl text-2xl font-bold cursor-pointer hover:bg-purple-300/40 transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
                type="button"
                onclick=switchToRegister()
            >
                REGISTER
            </button>
        </div>
    </div>

    <div class="col-span-2 row-span-5 col-start-4 m-5 transition-all duration-500 opacity-100 scale-100" id="login">
        <div
            class="backdrop-blur-2xl h-1/1 rounded-3xl backdrop-brightness-55 flex flex-col items-center justify-center"
        >
            <h1
                class="text-3xl font-bold tracking-wider md:text-5xl xl:text-6xl sm:text-4xl s:flex"
            >
                LOGIN
            </h1>
            <form class="flex flex-col items-center justify-center gap-4 pt-6">
                <input
                    type="text"
                    placeholder="Username"
                    class="bg-transparent border-b-2 border-purple-500/50 text-white text-lg focus:outline-none focus:border-purple-500/70 transition duration-300 ease-in-out w-full px-2 py-1"
                    required
                />
                <input
                    type="password"
                    placeholder="Password"
                    class="bg-transparent border-b-2 border-purple-500/50 text-white text-lg focus:outline-none focus:border-purple-500/70 transition duration-300 ease-in-out w-full px-2 py-1"
                    required
                />
                <button
                    class="bg-gradient-to-br from-purple-300/50 to-purple-500/50 text-shadow-xs text-shadow-purple-500 inset-shadow-sm inset-shadow-purple-500/70 px-12 py-2 rounded-xl text-xl font-bold cursor-pointer hover:bg-purple-300/40 transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
                    type="submit"
                >
                    LOGIN
                </button>
            </form>
        </div>
    </div>

    <div
        class="col-span-2 row-span-5 col-start-4 m-5 hidden transition-all duration-500 opacity-0 scale-95"
        id="register"
        class="hidden"
    >
        <div
            class="backdrop-blur-2xl h-1/1 rounded-3xl backdrop-brightness-80 flex flex-col items-center justify-center"
        >
            <h1
                class="text-3xl font-bold tracking-wider md:text-5xl xl:text-6xl sm:text-4xl s:flex"
            >
                REGISTER
            </h1>
            <form class="flex flex-col items-center justify-center gap-4 pt-6">
                <input
                    type="text"
                    placeholder="Username"
                    class="bg-transparent border-b-2 border-purple-500/50 text-white text-lg focus:outline-none focus:border-purple-500/70 transition duration-300 ease-in-out w-full px-2 py-1"
                    required
                />
                <input
                    type="email"
                    placeholder="Email"
                    class="bg-transparent border-b-2 border-purple-500/50 text-white text-lg focus:outline-none focus:border-purple-500/70 transition duration-300 ease-in-out w-full px-2 py-1"
                    required
                />
                <input
                    type="password"
                    placeholder="Password"
                    class="bg-transparent border-b-2 border-purple-500/50 text-white text-lg focus:outline-none focus:border-purple-500/70 transition duration-300 ease-in-out w-full px-2 py-1"
                    required
                />
                <button
                    class="bg-gradient-to-br from-purple-300/50 to-purple-500/50 text-shadow-xs text-shadow-purple-500 inset-shadow-sm inset-shadow-purple-500/70 px-12 py-2 rounded-xl text-xl font-bold cursor-pointer hover:bg-purple-300/40 transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
                    type="submit"
                >
                    REGISTER
                </button>
            </form>
            <button
                onclick=switchToLogin()
                class="text-purple-400 underline mt-4 cursor-pointer hover:text-purple-500/70 transition duration-300 ease-in-out"
            >
                ¿Ya tienes cuenta? Inicia sesión
            </button>
        </div>
    </div>

    <div
        class="absolute top-0 left-0 w-full h-full pointer-events-none select-none"
    >
        <img
            src="/src/assets/Vector2.svg"
            class="absolute inset-0 w-full h-full opacity-40"
            alt=""
        />
        <img
            src="/src/assets/Vector1.svg"
            class="absolute inset-0 w-full h-full opacity-55"
            alt=""
        />
        <img
            src="/src/assets/Vector3.svg"
            class="absolute inset-0 w-full h-full opacity-60"
            alt=""
        />
        <img
            src="/src/assets/Vector4.svg"
            class="absolute inset-0 w-full h-full"
            alt=""
        />
    </div>
</div>
