---
import Bento from "./icons/Bento.astro"
---

<div
    class="fixed z-50 w-full h-15 lg:max-w-sm max-w-xs -translate-x-1/2 bottom-4 left-1/2" >
    <Bento from="#1f1f38" to="#323259 " rouned="rounded-full" rounded2="rounded-full">
        <div class="grid h-full grid-cols-5 mx-auto max-w-lg">
            <div class="flex items-center justify-center">
                <a href="#" class="text-[#a6a6c1] hover:text-[#ffffff] px-6 border-e border-[#323259]">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-home"
                        ><path d="M3 9l9-7 9 7v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9z"
                        ></path><polyline points="9 22 9 12 15 12 15 22"
                        ></polyline></svg
                    >
                </a>
            </div>
            <div class="flex items-center justify-center">
                <a href="#about" class="text-[#a6a6c1] hover:text-[#ffffff] px-6 border-e border-[#323259]">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-info"
                >
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="16" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                </svg>
                </a>
            </div>
            <div class="flex items-center justify-center">
                <a href="#features" class="text-[#a6a6c1] hover:text-[#ffffff] px-6 border-e border-[#323259]">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-layers"
                    >
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                </a>
            </div>
            <div class="flex items-center justify-center">
                <a href="#testimonials" class="text-[#a6a6c1] hover:text-[#ffffff]">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-message-circle"
                    >
                        <path d="M21 11.5a8.38 8.38 0 0 1-1.9 5.4 8.5 8.5 0 0 1-6.6 3.1 8.38 8.38 0 0 1-5.4-1.9L3 21l2.9-3.1a8.38 8.38 0 0 1-1.9-5.4 8.5 8.5 0 0 1 3.1-6.6 8.38 8.38 0 0 1 5.4-1.9 8.5 8.5 0 0 1 6.6 3.1 8.38 8.38 0 0 1 1.9 5.4z"></path>
                    </svg>
                </a>
            </div>
            <div class="flex items-center justify-center">
                <a href="#contact" class="text-[#a6a6c1] hover:text-[#ffffff] items-center justify-center px-6 border-e border-[#323259]"
                    >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-mail"
                    >
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                    </a
                >
            </div>
        </div>
    </Bento>
</div>
