<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/public/favicon.png" />
		<title>Scalify AI</title>
	</head>
	<body>
		
		<slot />
	</body>

</html>

<style>
	html,
	body {		
		
	}
	body {
		font-family: 'Inter', sans-serif;
		background: linear-gradient(to bottom, #0b0c2a, rgba(30, 30, 47, 0.5));
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>


